.chat-side__groups__group
  .chat-side__groups__group__group-name
    test-group1
  .chat-side__groups__group__latest-message
    さようなら
.chat-side__groups__group
  .chat-side__groups__group__group-name
    test-group2
  .chat-side__groups__group__latest-message
    hello
.chat-side__groups__group
  .chat-side__groups__group__group-name
    test-group3
  .chat-side__groups__group__latest-message
    sまだメッセージがありません