.chat-main__messages__message
  .chat-main__messages__message__upper-info
    .chat-main__messages__message__upper-info__talker
      test-user
    .chat-main__messages__message__upper-info__date
      2019/09/30(Mon) 19:11:03
  .chat-main__messages__message__text
    こんにちわ
.chat-main__messages__message
  .chat-main__messages__message__upper-info
    .chat-main__messages__message__upper-info__talker
      test-user
    .chat-main__messages__message__upper-info__date
      2019/09/30(Mon) 19:11:24
  .chat-main__messages__message__text
    さようなら